@import '../bower_components/normalize.css/normalize';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid:true;
@import '../bower_components/neat/app/assets/stylesheets/neat';

@mixin shadow {
  -webkit-box-shadow: 0px 4px 0px 0px rgba(255,255,255,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(255,255,255,0.3);
  box-shadow: 0px 4px 0px 0px rgba(255,255,255,0.3);
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url(../assets/bg.jpg);
  background-size: cover;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

header {
  @include outer-container(1024px);
  margin-top: 6px;

  nav.social {
    @include span-columns(12);

    span {
      @include span-columns(8.6);
      margin-top: 18px;
      padding-right: 88px;
      color: #d1d1d1;
      text-transform: uppercase;
      line-height: 27px;
      text-align: right;
      font-size: 14px;
      border-right: dotted;
    }

    section {
      @include span-columns(3.4);

      div {
        float: right;
        margin-left: 10px;
        padding: 11px;
        width: 60px;
        height: 60px;
        text-align: center;
        @include shadow;
        margin-bottom: 20px;

        &:last-child {
          margin-left: 0;
        }

        a.subs {
          color: #fff;
          opacity: 0.2;
          font-size: 35px;
          transition: opacity 0.4s;

          &:hover {
            opacity: 1;
          }
        }
      }

      .fb {
        background: #445897;
      }

      .rs {
        background: #CC8F32;
      }

      .tw {
        background: #6A8DC7;
      }

      .yt {
        background: #B2382D;
      }
    }
  }
}

.wrapper {
  @include outer-container(1024px);
  background: none;

  nav.pagenav {
   @include span-columns(12);

    a {
      @include span-columns(3 of 12);
      @include shadow;
      margin-bottom: 21px;
      text-align: center;
      color: #e1e1e1;
      background: #B4292E;
      font-size: 17px;
      line-height: 40px;
      text-decoration: none;
      text-transform: uppercase;
      transition: color, background-color 0.6s;

      &:hover {
        color: #B4292E;
        background: #fff;
      }
    }
  }

  div.heroimg {
   @include span-columns(12);
   background: url(../assets/top-image.png);
   background-position: 32% 767px;
   border: 10px solid white;
   width: 100%;
   height: 357px;
   position: relative;
   @include shadow;
   margin-bottom: 20px;

   div.grid {
     background: url(../assets/grid.png);
     opacity: .4;
     width: 100%;
     height: 100%;
   }

   img {
     position: absolute;
     top: 50px;
     left: 18px;
   }
  }

  div.buttons {
   @include span-columns(12);
   @include shift(5.47);
   margin-bottom: 30px;

   button {
     @include shadow;
     border-radius: 100%;
     border: 5px solid #fff;
     margin: 0 5px;
     height: 15px;
     width: 15px;
     padding: 0;
     background-color: #fff;
     transition: background-color 0.6s;

     &:hover {
       background-color: #B4292E;
     }
   }
  }

  article.post {
    @include span-columns(4 of 12);
    background: #fff;
    padding: 6px 27px 20px 27px;
    @include shadow;
    margin-bottom: 40px;
    h2 {
      font-weight: 600;
      font-size: 24px;
      color: #363732;
      line-height: 25px;
    }
    time {
      color: #B0B0B0;
      font-size: 14px;
    }
    p {
      line-height: 25px;
      font-size: 13px;
      font-weight: 600;
      color: #848484;
    }
    a {
      text-transform: uppercase;
      display: block;
      color: #B4292E;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      transition: color, background-color 0.6s;
      &:hover {
        color: #fff;
        background-color: #B4292E;
      }
    }
  }

  #skateboarders {
    @include outer-container(1024px);
    margin-bottom: 31px;

    a.sk8r {
      display: inline-block;
      text-align: center;
      font-weight: 900;
      line-height: 45px;
      font-size: 47px;
      color: #fff;
      opacity: 1;
      text-decoration: none;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.4s;
    }

    div.lance, div.rodney, div.steve, div.tommy {
      @include shadow;
      position: relative;
      border: 5px solid #fff;
      background-repeat: no-repeat;
      z-index: 10;
      transition: box-shadow 0.4s, transform 0.4s;

      p {
        padding: 5px;
        height: 90px;
        width: 100%;
        top: auto;
        bottom: 0;
        opacity: 0;
        line-height: 25px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        transition: opacity 0.4s;
      }

      &:hover {
      transform: translateY(-50px);
      -webkit-box-shadow: 0px 50px 0px 0px rgba(255,255,255,0.3);
      -moz-box-shadow: 0px 50px 0px 0px rgba(255,255,255,0.3);
      box-shadow: 0px 50px 0px 0px rgba(255,255,255,0.3);
        p {
          opacity: 1;
        }
        a {
          opacity: 0;
        }
      }
    }

    div.wrap {
      @include span-columns(8);

      div.lance {
        @include span-columns(4 of 8);
        height: 232px;
        background: url(../assets/sk8er-4.png);
        margin-bottom: 10px;
        background-position: -130px -10px;

      }
      div.rodney {
        @include span-columns(4 of 8);
        @include omega();
        height: 232px;
        background: url(../assets/sk8er-3.png);
      }
      div.steve {
        @include span-columns(8 of 8);
        padding: 0 120px;
        height: 232px;
        background: url(../assets/sk8er-1.png);
        background-position: left -100px;
      }
    }
    div.tommy {
      @include span-columns(4);
      height: 474px;
      background: url(../assets/sk8er-2.png);
      background-position: -400px 0;
    }
  }

  #board_design {
    @include outer-container(1024px);
    background: #fff;
    @include shadow;
    padding: 12px 0 18px 0;
    margin-bottom: 40px;

    .wrap {
      @include span-columns(12);
      @include shift(.333);
    }

    a {
      @include span-columns(1.15);
      transition: opacity 0.4s;

      &:hover {
        transition: opacity 0.4s;
        opacity: 0.6;
      }
    }
  }
}



footer {
  @include outer-container(1024px);
  background: #fff;
  @include shadow;
  margin-bottom: 95px;
  padding: 30px;

  section {
    @include span-columns(6.5 of 12);

    h3 {
      font-weight: normal;
      font-size: 26px;
      margin: 5px 0;
      color: #363732;
      line-height: 25px;
      text-transform: capitalize;
    }

    p {
      line-height: 28px;
      font-size: 16px;
      font-weight: 600;
      color: #848484;
    }

    nav.social {

      div {
        float: left;
        margin-left: 5px;
        padding: 4px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-bottom: 20px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        a.subs {
          color: #fff;
          opacity: 0.2;
          font-size: 20px;
          transition: opacity 0.4s;

          &:hover {
            transition: opacity 0.4s;
            opacity: 1;
          }
        }
      }

      .fb {
        background: #445897;
      }
      .rs {
        background: #CC8F32;
      }

      .tw {
        background: #6A8DC7;
      }

      .yt {
        background: #B2382D;
      }
      div:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }

  form {
    @include span-columns(5.5 of 12);

    input, textarea {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      line-height: 40px;
      padding: 0 0 0 12px;
      border-top: #fff inset 3px;
      border-left: #fff inset 3px;
      border-bottom: #AFAFAF solid 1px;
      border-right: #AFAFAF solid 1px;
      resize: none;
      text-transform: uppercase;
    }
    textarea {
      height: 110px;
    }
    button {
      display: inline-block;
      float: right;
      width: 248px;
      color: #e1e1e1;
      text-transform: uppercase;
      border: none;
      height: 40px;
      background: #B4292E;
      transition: color, background-color 0.6s;

      &:hover {
        transition: color, background-color 0.6s;
        color: #B4292E;
        background: #fff;
      }
    }
  }
}


@media (max-width:1014px){
  header nav.social section div {
    height: 48px;
    width: 48px;
    margin-left: 5px;
    padding: 5px;
  }
}

@media (max-width:812px){
  header {
    @include outer-container(100%);

    nav.social {
      @include span-columns(12);

      span {
        @include span-columns(8);
      }

      section {
        @include span-columns(4);
      }
    }
  }
}

@media (max-width:768px) {
  header {
    @include outer-container(100%);

    nav.social {
      @include span-columns(12);

      span {
        @include span-columns(7);
      }

      section {
        @include span-columns(5);
      }
    }
  }
  .wrapper {
    nav.pagenav {
      a {
        font-size: 13px;
      }
    }
    #skateboarders {
      a.sk8r {
        line-height: 35px;
        font-size: 37px;
      }
      div.lance, div.rodney, div.steve, div.tommy {
        p {
          font-size: 15px;
          line-height: 14px;
          font-weight: 600;
        }
      }
      div.wrap {
        @include span-columns(12);

        div.lance {
          @include span-columns(5);
          @include shift(3.5);
          @include omega(n);
          margin-bottom: 0px;
        }
        div.rodney {
          @include span-columns(5);
          @include shift(3.5);
          @include omega(n);
        }
        div.steve {
          @include span-columns(5);
          @include shift(3.5);
          @include omega(n);
          padding: 0;
        }
      }
      div.tommy {
        @include span-columns(5);
        @include shift(3.5);
        @include omega(n);
        height: 232px;
      }
    }
    #board_design {
      .wrap {
        @include shift(0);
      }
    }
  }
}
@media (max-width:570px) {
  header {
    nav.social {
      span {
        @include span-columns(4);
      }
      section {
        @include span-columns(8);
      }
    }
  }
  .wrapper {
    nav.pagenav {
      a {
        @include span-columns(12);
      }
    }
    div.heroimg {
      min-width: 430px;
     img {
       position: absolute;
       top: 50px;
       left: 0px;
     }
    }
    article.post {
      @include span-columns(12);
    }
    #skateboarders {
      a.sk8r {
        line-height: 35px;
        font-size: 37px;
      }
      div.lance, div.rodney, div.steve, div.tommy {
        p {
          font-size: 15px;
          line-height: 14px;
          font-weight: 600;
        }
      }
      div.wrap {
        @include span-columns(12);

        div.lance {
          @include span-columns(8);
          @include shift(2);
          margin-bottom: 0px;
        }
        div.rodney {
          @include span-columns(8);
          @include shift(2);
        }
        div.steve {
          @include span-columns(8);
          @include shift(2);
          padding: 0;
        }
      }
      div.tommy {
        @include span-columns(8);
        @include shift(2);
        height: 232px;
      }
    }
    #board_design {
      @include outer-container(1024px);
      padding: 12px 0 18px 0;
      margin-bottom: 40px;
      .wrap {
        @include shift(1);
      }
      a {
        @include span-columns(2);
      }
    }
  }
  footer {
    section {
      @include span-columns(12);
    }
    form {
      @include span-columns(12);
    }
  }
}
